html {
  margin:0;
  background-image: url("PaperBackground.png");
  background-size: auto;
  background-repeat: repeat;
}
body {
  width:1200px;
  margin:0;
  margin-right:auto;
  background-color:yellow;
}
header {
  float:left;
  width:200px;
  height:100%;
  position:fixed;
  background-color:red;
}
.RightSide {
  float:left;
  width:1000px;
  height:1000px;
}
/*.main {
  width:100%;
  height:800px;
  background-color:blue;
}
footer {
  width:100%;
  height:100px;
  background-color:green;
}*/
