html {
  margin:0;
  background-image: url("PaperBackground.png");
  background-size: auto;
  background-repeat: repeat;
}
body {
  width:1000px;
  height:100%;
  margin:0;
  margin-left:auto;
  margin-right:auto;
  background-color:yellow;
}
